$teal: #4cbd9a;
$teal2: #d5f1e9;
$gray: #333333;
$white: #fff;
$red: #e46962;
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Gilroy Regular";
  color: $gray;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/Gilroy-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Semibold";
  src: url("./fonts/Gilroy-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Thin";
  src: url("./fonts/Gilroy-Thin.woff2") format("woff2");
}

.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font24 {
  font-size: 24px;
}
.font40 {
  font-size: 40px;
}
.font16 {
  font-size: 16px;
}

.bold {
  font-family: "Gilroy Bold", "Gilroy Regular";
  font-weight: 400;
}
.semibold {
  font-family: "Gilroy Semibold", "Gilroy Regular";
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.label:hover:not(.bold) {
  color: $white;
  font-family: "Gilroy Regular";
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

::selection {
  background-color: $gray;
  color: $white;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    width: 240px;
    transition: width 0.3s ease;
    overflow: hidden;
    background-color: $teal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .toggle-btn {
      background-color: transparent;
    }
    .menu {
      padding: 48px 32px;
      .menu-inner {
        transition: transform 0.3s ease;
        transform: translateX(0);
      }
    }
  }

  .inner {
    padding: 0 48px;
  }

  .main {
    flex: 1;
    padding-top: 48px;
    background: $white;
    transition: margin 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.collapsed {
    .sidebar {
      width: 0px;
      .menu {
        /* hide labels when collapsed */
        ul li {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
    /* main will automatically grow: no extra CSS needed */
  }
}

.header {
  background-color: $teal;
  padding: 4px 0;
}

.statWrapper {
  position: relative;
  width: 170px;
  height: 170px;

  .number,
  .text {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* you can tweak font-size, line-height, etc. for spacing */
  }
  .number {
    bottom: 46%;
  }
  .text {
    top: 53%;
  }
}

$col-widths: 15% 10% 15% 10% 15% 15% 20%;

.custom-table {
  width: 100%;
  border-collapse: collapse;
  padding: 0 12px;
  thead {
    border-top: 1px solid $teal;
    border-bottom: 1px solid $teal;
  }
  th,
  td {
    padding: 8px 0;
    border: none;
    text-align: center;
    line-height: 2;
  }

  @for $i from 1 through length($col-widths) {
    th:nth-child(#{$i}),
    td:nth-child(#{$i}) {
      width: nth($col-widths, $i);
    }
  }
  tbody {
    tr {
      // odd rows: transparent
      &:nth-child(2n + 1) {
        background: transparent;
      }
      // even rows: green
      &:nth-child(2n) {
        background: $teal2;
      }
      &:hover {
        background-color: $teal;
      }
    }
  }
}

.button1 {
  background-color: $teal;
  border-radius: 7px;
  padding: 8px 16px;
  &.sm {
    padding: none;
  }
  &.login {
    border-radius: 8px;
    background-color: $gray;
    display: flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--Teal2, #d5f1e9);
    text-align: justify;
    font-family: "Gilroy SemiBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:focus {
      background: var(--Yeil-Yeil-100, #dae9e1);
      color: var(--Gri-Gri-200, #a6a6a6);
    }
  }
}

.search {
  border-radius: 7px;
  background-color: $teal2;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.5s al ease-in;
  &.sm {
    width: 86px;
  }
  svg {
    margin-right: 10px;
  }
  input {
    background-color: transparent;
    width: 100%;
    &::placeholder {
      color: $gray;
    }
  }
  &:focus-within {
    background-color: $white;
    box-shadow: inset 0 0 0 1px $teal;
    input {
      &::placeholder {
        display: none !important;
      }
    }
  }
  &:hover {
    box-shadow: inset 0 0 0 1px $teal;
  }
}

#dropdownDate {
  background-color: $teal2;
  border-radius: 7px;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  &::after {
    display: none;
  }
  &:hover{
    background-color: $teal;
  }
}

.paginationButton {
  background-color: transparent;
  font-family: "Gilroy Regular";
  color: $gray;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 5px;
  &:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  &.active {
    font-family: "Gilroy Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}

#login {
  background-color: $teal;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/login.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .loginWrapper {
    background-color: rgba($white, 0.2);
    max-width: 450px;
    padding: 32px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 18px;
    position: relative;
    border-radius: 16px;
    overflow: hidden; // clip the pseudo-element to the rounded box

    &::before {
      content: "";
      position: absolute;
      inset: 0; // shorthand for top/left/right/bottom: 0
      padding: 1px; // your “border” thickness
      background: linear-gradient(
        to bottom,
        rgba($white, 0.5),
        rgba($white, 0.1)
      );
      border-radius: inherit;
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
    }
    &.error {
      &::before {
        background: linear-gradient(
          to bottom,
          rgba($red, 0.8),
          rgba($red, 0.3)
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
      }
      .loginInput {
        background-color: #DBC7C6;
        box-shadow: inset 0px 0px 0px 3px $red;
        input{
          background-color: #DBC7C6;
        }
      }
    }
    .loginInput {
      padding: 16px;
      border-radius: 7px;
      background-color: $white;
      width: 100%;
      input {
        width: 100%;
        &.password {
          width: calc(100% - 24px);
        }
      }
    }
    .errorMsg{
      color: #B3261E;
    }
  }
}
