* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Gilroy Regular";
  color: #333333; }

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.woff2") format("woff2"); }
@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/Gilroy-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "Gilroy Semibold";
  src: url("./fonts/Gilroy-Semibold.woff2") format("woff2"); }
@font-face {
  font-family: "Gilroy Thin";
  src: url("./fonts/Gilroy-Thin.woff2") format("woff2"); }
.font12 {
  font-size: 12px; }

.font14 {
  font-size: 14px; }

.font16 {
  font-size: 16px; }

.font18 {
  font-size: 18px; }

.font24 {
  font-size: 24px; }

.font40 {
  font-size: 40px; }

.font16 {
  font-size: 16px; }

.bold {
  font-family: "Gilroy Bold", "Gilroy Regular";
  font-weight: 400; }

.semibold {
  font-family: "Gilroy Semibold", "Gilroy Regular";
  font-weight: 400; }

.underline {
  text-decoration: underline; }

.pointer {
  cursor: pointer; }

.label:hover:not(.bold) {
  color: #fff;
  font-family: "Gilroy Regular";
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font; }

::selection {
  background-color: #333333;
  color: #fff; }

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden; }
  .layout .sidebar {
    width: 240px;
    transition: width 0.3s ease;
    overflow: hidden;
    background-color: #4cbd9a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2; }
    .layout .sidebar .menu {
      padding: 48px 32px; }
      .layout .sidebar .menu .menu-inner {
        transition: transform 0.3s ease;
        transform: translateX(0); }
  .layout .toggle-btn {
    background-color: transparent;
    transition: 0.3s all ease; }
    .layout .toggle-btn.open {
      transform: rotate(180deg);
      left: -20px;
      position: relative;
      z-index: 1;
      padding-top: 12px; }
      .layout .toggle-btn.open.true {
        left: 10px; }
  .layout .inner {
    padding: 0 48px; }
    .layout .inner.unique {
      padding-left: 56px; }
  .layout .main {
    flex: 1;
    padding-top: 12px;
    background: #fff;
    transition: margin 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden; }
  .layout.collapsed {
    /* main will automatically grow: no extra CSS needed */ }
    .layout.collapsed .sidebar {
      width: 0px; }
      .layout.collapsed .sidebar .menu {
        /* hide labels when collapsed */ }
        .layout.collapsed .sidebar .menu ul li {
          opacity: 0;
          pointer-events: none; }

.header {
  background-color: #4cbd9a;
  padding: 4px 0; }

.statWrapper {
  position: relative;
  width: 170px;
  height: 170px; }
  .statWrapper .number,
  .statWrapper .text {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* you can tweak font-size, line-height, etc. for spacing */ }
  .statWrapper .number {
    bottom: 46%; }
  .statWrapper .text {
    top: 53%; }

.custom-table {
  width: 100%;
  border-collapse: collapse;
  padding: 0 12px; }
  .custom-table thead {
    border-top: 1px solid #4cbd9a;
    border-bottom: 1px solid #4cbd9a; }
  .custom-table th,
  .custom-table td {
    padding: 8px 0;
    border: none;
    text-align: center;
    line-height: 2; }
  .custom-table th:nth-child(1),
  .custom-table td:nth-child(1) {
    width: 15%; }
  .custom-table th:nth-child(2),
  .custom-table td:nth-child(2) {
    width: 10%; }
  .custom-table th:nth-child(3),
  .custom-table td:nth-child(3) {
    width: 15%; }
  .custom-table th:nth-child(4),
  .custom-table td:nth-child(4) {
    width: 10%; }
  .custom-table th:nth-child(5),
  .custom-table td:nth-child(5) {
    width: 15%; }
  .custom-table th:nth-child(6),
  .custom-table td:nth-child(6) {
    width: 15%; }
  .custom-table th:nth-child(7),
  .custom-table td:nth-child(7) {
    width: 20%; }
  .custom-table tbody tr:nth-child(2n + 1) {
    background: transparent; }
  .custom-table tbody tr:nth-child(2n) {
    background: #d5f1e9; }
  .custom-table tbody tr:hover {
    background-color: #4cbd9a; }

.button1 {
  background-color: #4cbd9a;
  border-radius: 7px;
  padding: 8px 16px; }
  .button1.sm {
    padding: none; }
  .button1.login {
    border-radius: 8px;
    background-color: #333333;
    display: flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--Teal2, #d5f1e9);
    text-align: justify;
    font-family: "Gilroy SemiBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
    .button1.login:focus {
      background: var(--Yeil-Yeil-100, #dae9e1);
      color: var(--Gri-Gri-200, #a6a6a6); }
  .button1.borderTeal {
    background-color: transparent;
    border: 1px solid #4cbd9a; }
    .button1.borderTeal.filterRemove {
      padding: 2px 12px 2px 16px !important; }
  .button1.borderGray {
    background-color: transparent;
    border: 1px solid #333333; }
  .button1.softTeal {
    background-color: #d5f1e9; }

.search {
  border-radius: 7px;
  background-color: #d5f1e9;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.5s al ease-in; }
  .search.sm {
    width: 86px; }
  .search svg {
    margin-right: 10px; }
  .search input {
    background-color: transparent;
    width: 100%; }
    .search input::placeholder {
      color: #333333; }
  .search:focus-within {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #4cbd9a; }
    .search:focus-within input::placeholder {
      display: none !important; }
  .search:hover {
    box-shadow: inset 0 0 0 1px #4cbd9a; }

#dropdownDate {
  background-color: #d5f1e9;
  border-radius: 7px;
  border: none;
  outline: none;
  height: 40px;
  width: 40px; }
  #dropdownDate::after {
    display: none; }
  #dropdownDate:hover {
    background-color: #4cbd9a; }

.paginationButton {
  background-color: transparent;
  font-family: "Gilroy Regular";
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 5px; }
  .paginationButton:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font; }
  .paginationButton.active {
    font-family: "Gilroy Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font; }

#login {
  background-color: #4cbd9a;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/login.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  #login .loginWrapper {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 450px;
    padding: 32px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 18px;
    position: relative;
    border-radius: 16px;
    overflow: hidden; }
    #login .loginWrapper::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
      border-radius: inherit;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none; }
    #login .loginWrapper.error::before {
      background: linear-gradient(to bottom, rgba(228, 105, 98, 0.8), rgba(228, 105, 98, 0.3));
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); }
    #login .loginWrapper.error .loginInput {
      background-color: #dbc7c6;
      box-shadow: inset 0px 0px 0px 3px #e46962; }
      #login .loginWrapper.error .loginInput input {
        background-color: #dbc7c6; }
    #login .loginWrapper .loginInput {
      padding: 16px;
      border-radius: 7px;
      background-color: #fff;
      width: 100%; }
      #login .loginWrapper .loginInput input {
        width: 100%; }
        #login .loginWrapper .loginInput input.password {
          width: calc(100% - 24px); }
    #login .loginWrapper .errorMsg {
      color: #b3261e; }

.dropdown-menu {
  border: none; }

.dropdown-toggle::after {
  display: none; }

.dateWrapper {
  width: 650px;
  border-radius: 8px;
  border: 1px solid #4cbd9a;
  padding: 16px 24px; }
  .dateWrapper .monthButton {
    background-color: transparent;
    padding: 10px; }
  .dateWrapper .day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer; }
    .dateWrapper .day.from {
      background-color: #4cbd9a; }
    .dateWrapper .day.to {
      background-color: #4cbd9a; }
    .dateWrapper .day.middle {
      color: #4cbd9a !important; }
    .dateWrapper .day:hover {
      background-color: #333333;
      color: #4cbd9a !important; }

.dropdown-menu {
  border-radius: 8;
  border: 1px solid #4cbd9a; }
  .dropdown-menu li {
    cursor: pointer;
    padding: 2px 12px; }
    .dropdown-menu li:nth-child(2n + 1) {
      background: transparent; }
    .dropdown-menu li:nth-child(2n) {
      background: #d5f1e9; }
    .dropdown-menu li:hover {
      background-color: #4cbd9a; }

.filter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px; }
  .filter-row .filters-left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, max-content));
    gap: 10px; }
  .filter-row .filters-right {
    margin-left: auto;
    white-space: nowrap; }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999; }

.modal-content {
  background: white;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
  position: relative; }

.modal-list {
  max-height: 260px;
  overflow-y: auto;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0; }

.modal-item {
  word-break: break-word;
  margin-bottom: 0.5rem; }

.modal-close {
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer; }
  .modal-close:hover {
    background-color: #1d4ed8; }

/*# sourceMappingURL=app.css.map */
